.section-home{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 14vh;
    width: 100%;
}
.section-home h1{
    color:white;
}
.titleC{
    background-color: rgba(255, 255, 255, 0.24);
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60vh;
}
.img1,.img2{
    display: none;
}
.img3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img3 img{
    position: relative;
    width: calc(17rem + 10.5vw) !important;
    height: calc(17rem + 10.5vw) !important;
}
.img-container img{
    width: 250px;
    height: 250px;
    border-radius:50%;
    margin-top: 21px;
    
}
.img-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: black;
    border-radius:20px;
    width: calc(8rem + 3vw );
    height: calc(1.8rem + 1.5vh);

}
.img-container span h2 {
    margin-bottom:0 !important;
}
@media screen and (min-width: 550px) {
    .titleC{
        width: calc(30rem + 1.5vw);
        height: calc(4rem + 1.5vw);
    }
}
@media screen and (min-width: 800px) {
    .img2{
        display: initial;
    }
    .img2 img {
        width: calc(10rem + 10.5vw) !important;
        height: calc(10rem + 10.5vw) !important;
    }
}
@media screen and (min-width: 950px) {
    .img1{
        display: initial;
    }
    .img1 img {
        width: calc(9rem + 10.5vw) !important;
        height: calc(9rem + 10.5vw) !important;
    }
}
